
/*#homeLogo{*/
/*    height: 80vh;*/
/*    width: fit-content;*/
/*    position: absolute;*/
/*    border: 10px;*/
/*    right: 50px;*/
/*}*/
/*#descrip{*/
/*    position: absolute;*/
/*    background-color: white;*/
/*    width: 200px;*/
/*    text-align: center;*/

/*    padding: 10px;*/
/*    margin: 10px;*/
/*    box-shadow: 10px 10px 10px 10px purple;*/
/*}*/

/*!*           Projects        *!*/
/*#projects{*/
/*    background-color: red;*/
/*    height: 200vh;*/
/*    position: relative;*/
/*    right: 0;*/
/*    left: 0;*/
/*}*/


/*!*           Assigrnment        *!*/

/*#assignments{*/
/*    background-color: darkblue;*/
/*    height: 100vh;*/
/*    position: relative;*/
/*    right: 0;*/
/*    left: 0;*/

/*}*/

/*!*           About        *!*/

/*#about{*/
/*    background-color: yellow;*/
/*    height: 100vh;*/
/*    position: relative;*/
/*    right: 0;*/
/*    left: 0;*/
/*}*/


/*!*           Skill        *!*/
/*#skill{*/
/*    background-color: green;*/
/*    height: 100vh;*/
/*    position: relative;*/
/*    right: 0;*/
/*    left: 0;*/
/*}*/



/*!*           Contact        *!*/
/*#contact{*/
/*    background-color: orange;*/
/*    height: 100vh;*/
/*    position: relative;*/
/*    right: 0;*/
/*    left: 0;*/
/*}*/


/*      Header      */
#Header{
    position: fixed;
    height: 10vh;
    width: 100%;
    background-color: #8B5FB1;
    box-sizing: border-box;
    border: 10px solid #2E0042;
    z-index: 2;
    justify-content: space-between;
}
#logo {
    height: 50px;
    width: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
#navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 60px;
}

#navigation a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 20px;
    padding: 5px 10px;
}

#navigation a:hover {
    color: purple;
    border-radius: 5px;
}

@media (max-width: 768px) {
    #navigation {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    #navigation a {
        margin: 10px 0;
        font-size: 16px;
    }
}

/*      Main    */
body>main{
    position: relative;
}
.MainSections{
    position: relative;
    height: 100vh;
    width: 100%;
}


/*      Home        */
.MainSections:first-child{
    background-color: #2E0042;
    top: 10vh;
}


/*      Left Side   */
#descrip{
    background-color: #2E0042;
    justify-content: center;
    width: 250px;
    height: 200px;
    position: relative;
    top: 150px;
    left: 15vw;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #9D53A5;
    z-index: 1;
    padding: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}
#descrip>h1{
    color: #F1A7D3 ;
}
#descrip>div{
    height: 2px;
    background-color: white;
}
#descrip>p{
    color: deeppink;
}

/*      Right Side   */
#homeLogo{
    top: 10vh;
    height: 70vh;
    width: fit-content;
    right: 8vw;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid white;
}

@media (max-width: 768px) {
    #homeLogo{
        filter: blur(5px);
    }
}


/*      Projects        */
.MainSections:nth-child(2){
    height: 200vh;
    background-color: #9D53A5;
}


/*      Assignmrent        */
.MainSections:nth-child(3){
    background-color: #2E0042;
}


/*      About        */
.MainSections:nth-child(4){
    background-color: #F1A7D3;
}


/*      Skill        */
.MainSections:nth-child(5){
    background-color: #3C1E60;
}


/*      Contact        */
.MainSections:nth-child(6){
    background-color: #9D53A5;
}


/*      Footer      */
#Footer{
    background-color: #D6A9F6;
    height: 5vh;
    width: 100%;
    position: absolute;
}

#Footer>h6>p{
    display: inline;
}
#Footer>h6{
    display: flex;
    justify-content: space-around;
}

#aaaa>div{
    background-color: #4B1D5C;
    background-color: #8B5FB1;
    background-color: #D6A9F6;
    background-color: #F1A7D3;
    background-color: #3C1E60;
    background-color: #9D53A5;
    background-color: #2E0042;
    background-color: #E1B1D6;
    background-color: #F2E2F7;
}