
/*#homeLogo{*/
/*    height: 80vh;*/
/*    width: fit-content;*/
/*    position: absolute;*/
/*    border: 10px;*/
/*    right: 50px;*/
/*}*/
/*#descrip{*/
/*    position: absolute;*/
/*    background-color: white;*/
/*    width: 200px;*/
/*    text-align: center;*/

/*    padding: 10px;*/
/*    margin: 10px;*/
/*    box-shadow: 10px 10px 10px 10px purple;*/
/*}*/

/*!*           Projects        *!*/
/*#projects{*/
/*    background-color: red;*/
/*    height: 200vh;*/
/*    position: relative;*/
/*    right: 0;*/
/*    left: 0;*/
/*}*/


/*!*           Assigrnment        *!*/

/*#assignments{*/
/*    background-color: darkblue;*/
/*    height: 100vh;*/
/*    position: relative;*/
/*    right: 0;*/
/*    left: 0;*/

/*}*/

/*!*           About        *!*/

/*#about{*/
/*    background-color: yellow;*/
/*    height: 100vh;*/
/*    position: relative;*/
/*    right: 0;*/
/*    left: 0;*/
/*}*/


/*!*           Skill        *!*/
/*#skill{*/
/*    background-color: green;*/
/*    height: 100vh;*/
/*    position: relative;*/
/*    right: 0;*/
/*    left: 0;*/
/*}*/



/*!*           Contact        *!*/
/*#contact{*/
/*    background-color: orange;*/
/*    height: 100vh;*/
/*    position: relative;*/
/*    right: 0;*/
/*    left: 0;*/
/*}*/


/*      Header      */
#Header{
    position: fixed;
    height: 10vh;
    width: 100%;
    background-color: #8B5FB1;
    box-sizing: border-box;
    border: 10px solid #2E0042;
    z-index: 2;
    justify-content: space-between;
}
#logo {
    height: 50px;
    width: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
#navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 60px;
}

#navigation a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 20px;
    padding: 5px 10px;
}

#navigation a:hover {
    color: purple;
    border-radius: 5px;
}

@media (max-width: 768px) {
    #navigation {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    #navigation a {
        margin: 10px 0;
        font-size: 16px;
    }
}

/*      Main    */
body>main{
    position: relative;
}
.MainSections{
    position: relative;
    height: 100vh;
    width: 100%;
}


/*      Home        */
.MainSections:first-child{
    background-color: #2E0042;
    top: 10vh;
}


/*      Left Side   */
#descrip{
    background-color: #2E0042;
    justify-content: center;
    width: 250px;
    height: 200px;
    position: relative;
    top: 150px;
    left: 15vw;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #9D53A5;
    z-index: 1;
    padding: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}
#descrip>h1{
    color: #F1A7D3 ;
}
#descrip>div{
    height: 2px;
    background-color: white;
}
#descrip>p{
    color: deeppink;
}

/*      Right Side   */
#homeLogo{
    top: 10vh;
    height: 70vh;
    width: fit-content;
    right: 8vw;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid white;
}

@media (max-width: 768px) {
    #homeLogo{
        filter: blur(5px);
    }
}

/*      Projects        */
.MainSections:nth-child(2){
    height: 200vh;
    background-color: #9D53A5;
}
#Projects{
    position: relative;
}
#Projects>div{
    position: relative;
    top: 10vh;
    display: grid;
    width: 50vw;
    height: 80vh;
    grid-template-columns: repeat(2, 1fr);
}
#Projects>div>div{
    position: relative;
    height: fit-content;
}
#Projects>div:first-child{
    grid-column: 1/2;
}
#Projects>div:nth-child(2){
    grid-column: 2/3;
}
#projectTitle{
    color: #F1A7D3;
    text-align: center;
    position: relative;
    top: 5vh;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}
#Projects>div:hover{
    background-color: mediumpurple;
}
.projectsOImage{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 30vh;
    width: 20vw;
}
.projectsNames{
    position: relative;
    background-color: #2E0042;
    text-align: center;
    color: #F1A7D3;
}
.projectsDetails{
    position: relative;
    top: 80vh;
    left: 0;
}
.projectsDetails p{
    position: absolute;
}




.assignmetCodename{
    color: #3C1E60;
    text-decoration: none;
    background-color: #F1A7D3;
    height: 10px;
    width: fit-content;
    right: 0;

}







/*      Assignmrent        */
.MainSections:nth-child(3){
    background-color: #2E0042;
}

#Assignments{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
}
#Assignments>div{
    text-align: center;
    padding: 20px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    color: deeppink;
}
#Assignments>div:first-child{
    height: 50Vh;
    aspect-ratio: 1/1;
    background-color: #F1A7D3;
    border-radius: 100%;
    grid-column: 1/3;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}
#text{
    font-optical-sizing: auto;
    font-style: normal;
    color: #2E0042;
    text-align: center;
    font-size: 50px;
    height:fit-content ;
    width: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}
#Assignments>div:nth-child(2){
    background-color: #8B5FB1;
    height: 80vh;
    width: 50vw;
    border-radius: 50px;
    grid-column: 3/7;
    display: flex;
    align-items: center;
}
#assignmetLinks{
    position: absolute;
    top: 10vh;
    bottom: 10vh;
    left: 10vw;
    right: 10vw;
    margin: auto;
}
#assignmetLinks>div{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    height: 5vh;
    margin: 20px;
    border: 2px solid #2E0042;
    /*border-radius: 10% ;*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition-timing-function: ease;
    transition-duration: 800ms;
    background-color: #F2E2F7;
}
#assignmetLinks>div:hover{
    background-color: hotpink;
}
#assignmetLinks>div>a{
    text-decoration: none;
    color: black;
}
#assignmetLinks>div>a:hover{
    /*color: #2E0042;*/
    color: white;
}




/*      About        */
.MainSections:nth-child(4){
    background-color: #F1A7D3;
}
#About>div{
    position: absolute;
}
#About>div:first-child{
    position: relative;
    height: 20vh;
}
#About>div:nth-child(2){
    position: relative;
    height: 80vh;
}
#About>div:nth-child(2)>div:first-child{
    position: absolute;
    width: 50%;
    bottom: 0;
    top: 0;
    left: 0;
}
#About>div:nth-child(2)>div:nth-child(2){
    position: absolute;
    width: 50%;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
}

#aboutTitle>span{
    font-optical-sizing: auto;
    font-style: normal;
    color: #2E0042;
    background-color: #8B5FB1;
    text-align: center;
    font-size: 40px;
    height:fit-content ;
    width: 200px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#aboutDescrip{
    position: absolute;
    width: 30vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50vh;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

#aboutDescrip>p{
    height: 60px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#aboutImag{
    position: absolute;
    height: 10vh;
    aspect-ratio: 1/1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50vh;
    background-color: purple;
    border-radius: 100%;

}





/*      Skill        */
.MainSections:nth-child(5){
    background-color: #3C1E60;
}


/*      Contact        */
.MainSections:nth-child(6){
    background-color: #9D53A5;
}


/*      Footer      */
#Footer{
    background-color: #D6A9F6;
    height: 5vh;
    width: 100%;
    position: absolute;
}

#Footer>h6>p{
    display: inline;
}
#Footer>h6{
    display: flex;
    justify-content: space-around;
}

#aaaa>div{
    background-color: #4B1D5C;
    background-color: #8B5FB1;
    background-color: #D6A9F6;
    background-color: #F1A7D3;
    background-color: #3C1E60;
    background-color: #9D53A5;
    background-color: #2E0042;
    background-color: #E1B1D6;
    background-color: #F2E2F7;
}